* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
}


.element {
    height: 140px;
    width: 100%;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.element h1 {
    font-size: 6vw;
}

.element img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
}